<mat-toolbar color="primary">
  <span>My Budget</span>
  <button mat-button>Movimenti</button>
  <button mat-button>Categorie</button>
  <span class="spacer"></span>
  <mat-icon>person</mat-icon>
</mat-toolbar>
<button mat-raised-button type="button" color="accent">Nuova Categoria</button>
<mat-list>
  <mat-list-item>
    <div mat-line>Categoria 1</div>
    <div mat-line >Descrizione: Categoria 1</div>
    <div>
      <button mat-icon-button type="button" matTooltip="Modifica">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div>
      <button mat-icon-button type="button" matTooltip="Elimina">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <div mat-line>Categoria 2</div>
    <div mat-line >Descrizione: Categoria 2</div>
    <div>
      <button mat-icon-button type="button">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div>
      <button mat-icon-button type="button">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-list-item>
</mat-list>
