<mat-toolbar color="primary">
  <span>My Budget</span>
  <button mat-button>Movimenti</button>
  <button mat-button>Categorie</button>
  <span class="spacer"></span>
  <mat-icon>person</mat-icon>
</mat-toolbar>
<button mat-raised-button type="button" color="accent" [routerLink]="['./new']">Nuova Categoria</button>
<mat-list>
  <ng-container *ngFor="let category of categories; last as last">
    <mat-list-item>
      <div mat-line>{{category.name}}</div>
      <div mat-line >Descrizione: {{category.description}}</div>
      <div>
        <button mat-icon-button type="button" matTooltip="Modifica" [routerLink]="['./', category.id]">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div>
        <button mat-icon-button type="button" matTooltip="Elimina" [disabled]="category.isReadOnly" (click)="deleteCategory(category.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
    <mat-divider *ngIf="!last"></mat-divider>
  </ng-container>
</mat-list>
