<mat-accordion>
  <mat-expansion-panel [expanded]=true>
    <mat-expansion-panel-header>Ultimi Movimenti</mat-expansion-panel-header>
    <mat-list>
      <ng-container *ngFor="let movement of movements; last as last">
        <mat-list-item>
          <div mat-line>{{movement.note}}</div>
          <div mat-line style="font-weight: bold;">{{movement.executedAt | date}}</div>
          <div>{{movement.amount | currency: 'EUR'}}</div>
        </mat-list-item>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-container>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
